:root {
  --gap-min: 40;
  --gap-max: 60;
}

#main {
  border: 1px solid black;
}

ul li {
  padding: 5px clamp(0.5rem, 0.5rem + 5 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 1rem) 10px;
  margin: 5px clamp(0.5rem, 0.5rem + 5 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 1rem) clamp(1rem, 1rem + 5 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 1.5rem);
}

.parent {
  container: parent / inline-size;
  display: grid;
  gap: clamp(calc(var(--gap-min) / 10 * 1rem), (var(--gap-min) / 10 * 1rem) + (var(--gap-max) - var(--gap-min)) * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), calc(var(--gap-max) / 10 * 1rem));
  gap: clamp(calc(var(--gap-min) / 10 * 1rem), (var(--gap-min) / 10 * 1rem) + (var(--gap-max) - var(--gap-min)) * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), calc(var(--gap-max) / 10 * 1rem));
  gap: clamp(calc(var(--gap-min) / 10 * 1rem), (var(--gap-min) / 10 * 1rem) + (var(--gap-max) - var(--gap-min)) * ((100vw - 30rem) / 700), calc(var(--gap-max) / 10 * 1rem));
  margin-top: clamp(0.5rem, 1rem - 5 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 1rem);
}

.selector {
  display: block;
  border-width: clamp(0.25rem, 0.25rem + 0.5 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 0.3rem);
  font-size: 1rem;
  width: clamp(15rem, 15rem + 150 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 30rem);
  height: clamp(5rem, 9.61538vw + 0.38462rem, 10rem);
  padding-top: clamp(1rem, 5cqi - 0.5rem, 2rem);
  margin: 0 5px clamp(1rem, 1rem + 10 * ((100cqi - (var(--fluid-container-start, 300) / 10 * 1rem)) / (var(--fluid-container-end, 800) - var(--fluid-container-start, 300))), 2rem);
}

@media screen and (min-width: 1000px) {
  body {
    background-color: lightgreen;
  }

  .selector {
    height: clamp(10rem, 10rem + 20 * ((100vw - 100rem) / (var(--fluid-end, 1440) - 1000)), 12rem);
  }
}

.another-selector {
  margin-left: clamp(2rem, 2rem + 30 * ((100vw - (var(--fluid-start, 390) / 10 * 1rem)) / (var(--fluid-end, 1440) - var(--fluid-start, 390))), 5rem);
}
